@import './variables';

/* Base HTML */

#root {
    overflow-x: hidden;
}

html {
    font-size: $font-size;
    color: $font-color-1;
}

body {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
}